body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 1920px;
    height: 84px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}


.Logo-container {
    display: flex;
    align-items: center;

}

.title {
    font-family: "Merriweather", serif;
    font-size: 28px;
    font-weight: bold;
    margin-left: 10.6px;
    color: #FF5678;
}

.logo {
    width: auto;
    height: auto;
    height: auto;
    margin-left: 157px;
}


.nav-container {
    display: flex;
    gap: 60px;
    list-style: none;
    padding-top: 8px;


}

.item {
    margin: 0 5px;
    padding-top: 20px;

}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact-button {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #020E35;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Merriweather", serif;
    margin-right: 150px;
}

.item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #FF5678;
    text-underline-offset: 8px
}

.Home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 300px;



}

.homeimage-container {
    display: flex;
    align-items: center;
    justify-content: end;




}

.homeimage {
    width: 592px;
    height: 508px;
    border-radius: 200px;
}




.title-container {
    width: 548px;
    height: 508px;




}

.title-brand {
    font-family: "Merriweather", serif;
    font-size: 76px;
    font-weight: 900;
    color: #020E35;
    line-height: 110px;
    margin: 0;


}

.Brands-details {
    display: inline-block;
    background-color: #FF5678;
    color: #fff;
    padding: 0 1px;
    line-height: 1;


}

.button-container {
    display: flex;
    margin-top: 56px;


}

.button-style {
    font-family: "Merriweather", serif;
    background-color: #020E35;
    border: none;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

}

.Powercontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 300px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 511px;

}

.power-text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;


}

.full-title {
    position: relative;
    display: flex;
    flex-direction: column;

}

.Bar {
    width: 400px;
    height: 29px;
    margin-left: 4px;

}

.Power-title {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 54px;
    margin-bottom: -30px;
    margin-top: 0px;
    z-index: 2;
}

.Power-paragraph {
    font-family: "Merriweather", serif;
    font-weight: 400;
    color: #020E35;
    font-size: 18px;
    margin-top: 40px;

}

.Power-paragraph-2 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    color: #020E35;
    font-size: 18px;
    margin-bottom: 60px;


}

.Learn-button-container {
    display: flex;
    flex-direction: row;
    gap: 63px;

}

.watch-videos {
    font-size: 18px;
    font-weight: 700;
    font-family: "Merriweather", serif;
    color: #2B2B2B;

}

.circle-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    background-color: #FF5678;
    border-radius: 50%;

}

.triangle img {
    padding-left: 8px;
    padding-top: 5px;

}


.Learn-more {
    font-family: "Merriweather", serif;
    background-color: #020E35;
    border: none;
    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    padding-left: 40px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 20px 40px 5px #00000040;

}

.ServicesContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;

}

.bircircle {
    position: absolute;
    left: -167px;
    top: 290px;

}

.left-side {
    position: relative;
    display: flex;
    flex-direction: column;

}

.title-spacing {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 116px;

}

.section-left {
    position: relative;
    display: flex;
    flex-direction: column;


}

.section-right {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 170px;

}

.Bar-1 {
    width: 4px;
    height: 34px;
    margin-left: 4px;

}

.Bar2 {
    position: absolute;
    top: 236px;
    width: 468px;
    height: auto;



}

.Things-enjoy-title {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 54px;
    margin-bottom: -30px;
    margin-top: 0px;
    z-index: 2;
    margin-top: 200px;

}

.third-section-title {
    font-family: "Merriweather", serif;
    font-size: 28px;
    font-weight: 700;

}

.third-section-paragraph {
    font-family: "Merriweather", serif;
    font-size: 18px;
    font-weight: 400;

}

.third-section-spacing {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.Experiences-section-container {
    position: relative;
    display: flex;
    justify-content: space-between;

    margin-top: 218px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 60px;

}

.experience-text {
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.experience-title {
    font-size: 54px;
    font-family: "Merriweather", serif;
    color: #020E35;
    font-weight: 700;

}

.experience {
    font-family: "Merriweather", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

}

.button-experience {
    font-family: "Merriweather", serif;
    font-weight: 700;
    background-color: #020E35;
    color: white;
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;

}

.Bar-position {
    position: absolute;
    width: 387px;
    bottom: 427px;
    z-index: -1;

}

.Meet-team-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;


}

.Meet-team {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 54px;
    color: #020E35;
    margin-bottom: 104px;

}

.Bar4 {
    position: absolute;
    z-index: -1;
    top: 82px;

}

.people-container {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-items: center;
    row-gap: 61px;
    column-gap: 32px;


}

.people-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFF;
    border: solid;
    border-color: #B8B8B8;
    border-width: 1px;
    border-radius: 50px;
    width: 519px;
    aspect-ratio: 1/1;

}


.people-box:nth-child(2) {
    position: relative;
    bottom: 10px;
    width: 539px;
    height: 539px;
    aspect-ratio: 1/1;
    border: solid;
    border-color: #B8B8B8;
    border-width: 1px;
    border-radius: 50px;
    width: 519px;
    aspect-ratio: 1/1;

}


.people-box:nth-child(2) {
    position: relative;
    bottom: 10px;
    width: 539px;
    height: 539px;
    aspect-ratio: 1/1;
    box-shadow: 0px 20px 40px 5px #00000026;

}

.people-para {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 18px;
    color: #020E35;
    margin-bottom: 0px;
}

.people-title {
    margin-bottom: 0px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 28px;
    color: #020E35;
    margin-top: 60px;
}


.Previous-work-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;

}

.Previous-work-header {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.Previous-text-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 64px;


}

.Previous-title {
    margin-bottom: 64px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 54px;
    color: #020E35;

}

.text-work {
    margin-bottom: 0px;
    font-family: "Merriweather", serif;
    font-size: 24px;
    font-weight: 700;


}

.Grid-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    column-gap: 32px;


}

.Grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    gap: 32px;
}


.Grid-element-3-container {
    display: grid;
    grid-template-columns: 519px;
    grid-template-rows: 396.6px 396.6px;
    row-gap: 32px;

}

.Grid-element-1:nth-child(1) {
    grid-column: 1;
    grid-row: 2;
    width: 519px;
    height: 672px;
}

.Grid-element-2:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
    width: 518px;
    height: 825px;
}

.Grid-element-1:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}



.Grid-element-1,
.Grid-element-2,
.Grid-element-3 {
    background-color: #FFEEF6;
}