body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;                
    justify-content: space-between; 
    align-items: center;           
    background-color: #fff;               
    width: 1920px;                    
    height: 84px;                   
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}


.Logo-container {
    display: flex;
    align-items: center;

}
.title{
    font-family: "Merriweather", serif;
    font-size: 28px;
    font-weight: bold;
    margin-left: 10.6px;
    color: #FF5678;
}
.logo{
    width: auto;
    height: auto;
    height: auto;
    margin-left: 157px;
}


.nav-container {
    display: flex; 
    gap: 60px;                      
    list-style: none;
    padding-top: 8px;
               
    
}
.item {
    margin: 0 5px;
    padding-top: 20px;
                      
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contact-button{
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #020E35;
    color: white;
    padding: 20px 30px;
    text-decoration: none;          
    font-weight: bold;
    font-family: "Merriweather", serif;
    margin-right: 150px;
}
.item1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #FF5678;
    text-underline-offset: 8px
}


.Home-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 300px;
    
    
    
}

.homeimage-container{
    display: flex;
    align-items: center;
    justify-content: end;
    
    
    

}
.homeimage{
    width: 592px;
    height: 508px;
    border-radius: 200px;
}




.title-container{
    width: 548px;
    height: 508px;
    
    
    
    
}
.title-brand{
    font-family: "Merriweather", serif;
    font-size: 76px;
    font-weight: 900;
    color: #020E35;
    line-height: 110px;
    margin: 0;
    

}
.Brands-details {
    display: inline-block;       
    background-color: #FF5678;
    color: #fff;
    padding: 0 1px;             
    line-height: 1;


}
.button-container{
    display: flex;
    margin-top: 56px;


}
.button-style{
    font-family: "Merriweather", serif;
    background-color: #020E35;
    border: none;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);

}
.power-text-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.power-image-container{
    margin-top: 350px;
    margin-left: 150px;


}



